<link rel="stylesheet" type="text/css" href="/css/footer.css" />
<link
  rel="stylesheet"
  type="text/css"
  href="https://use.fontawesome.com/releases/v6.2.0/css/all.css"
/>

<footer>
  <nav>
    <ul>
      <li>
        <a href="https://github.com/TheRedstoneRadiant/Qurl.gq">Github</a>
      </li>
      <li>
        <a href="https://github.com/TheRedstoneRadiant/Qurl.gq/contributors"
          >Contributors ❤️</a
        >
      </li>
    </ul>
    <ul>
      <li>
        <a href="javascript:undefined" id="lightbulb"
          ><i class="fa-solid fa-lightbulb"></i
        ></a>
      </li>
    </ul>
  </nav>
</footer>
