<html>
    <head>
        <title>Qurl.gq</title>
        
        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
        
        <!-- JavaScript -->
        <script src="js/index.js"></script>
    </head>

    <body class="container">
        <header>
            <hgroup>
                <h1>Qurl.gq</h1>
                <h3>A simple URL Shortener written in Node.js 🔗</h3>
            </hgroup>
        </header>

        <main>
            <label for="url">
                URL:
                <input placeholder="https://duckduckgo.com" type="text" name="url" id="url" required>
            </label>
            <button type="submit">Shorten URL</button>
            <!-- TODO validate and apply aria-invalid="false" or "true" -->
        </main>

        <!-- Footer -->
        <footer>
            <nav>
                <ul>
                    <li><a href="https://github.com/TheRedstoneRadiant/Qurl.gq">Github</a></li>
                </ul>
            </nav>
        </footer>
    </body>
</html>
