<html>
    <head>
        <title>Hello World</title>
        
        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
        
        <!-- JavaScript -->
        <script src="js/index.js"></script>
    </head>

    <body>
        <h1>Qurl.gq</h1>
        <p>URL: </p>
        <input type="text" name="url">
        <button>Shorten URL</button>
    </body>
</html>
