@media only screen and (max-device-width: 768px) {
  .container {
    width: 100% !important;
  }

  .container {
    max-width: 90% !important;
  }

  .container header h1 {
    font-size: 6rem;
  }

  .container header h3 {
    font-size: 2rem;
  }

  .container main button,
  .container main input {
    height: 90px;
    font-size: 1.5rem;
  }
  .container footer nav a {
    font-size: 2rem;
  }
}
